@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@500;600;700&display=swap');

/* 
font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

:root {
  --red: #DA2535;
  --gray: #616161;
  --white: #FBFBFB;
  --black: #292929;
  --white-200: #F3F3F3;
}

body {
  background-color: var(--white);
}

/* header */
header {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  font-family: 'Inter', sans-serif;
  font-size: medium;
  padding: 2rem 0;
  font-weight: 500;
  background-color: var(--white);
  z-index: 1;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.logo__food {
  margin-left: 9rem;
}

.red {
  color: var(--red);
}

header button {
  border: 2px solid var(--black);
  padding: .5rem 2.75rem;
  border-radius: .5rem;
  cursor: pointer;
  margin-right: 10rem;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 18vw;
}


/* main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: aqua; */
  padding-top: 10rem;
}

/* início */
.container__section__inicio {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 58vw;
  justify-content: space-between;
  margin: 3rem 0;
}

.div__side {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  width: 20vw;
}

.side__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.side__text {
  padding: 2rem 0;
  line-height: 1.75rem;
}

.side__button {
  border: 2px solid var(--red);
  background-color: var(--red);
  color: var(--white-200);
  font-weight: 600;
  font-size: 1rem;
  padding: .5rem 2.75rem;
  border-radius: .5rem;
  cursor: pointer;  
}

.side__img__bowl {
  border-radius: 1rem;
  width: 30rem;
  height: 25rem;
  object-fit: cover;
}

.side__link {
  color: var(--red);
  text-decoration: underline;
  cursor: pointer;
}


/* cardápio */
.container__section__cardapio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  margin: 3rem 0;
}

.card__container{
  display: flex;
}

.card {
  width: 22rem;
  height: 25rem;
  background: var(--white-200);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 32px;
  padding-inline: 1rem;
  padding: 2rem;
  margin: 5rem 1rem;
}

.card-img {
  position: absolute;
  top: -5rem;
}

.card-img img {
  max-width: 15rem;
}

.nome-do-prato,
.preco-do-prato {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--black);
  text-align: center;
}

.descricao-prato {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin: 24px 0px;
  color: #616161;
  text-align: center;
}


/* footer */
footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.footer__div{
  display: flex;
  margin: 0 5rem;
  flex-direction: column;
  align-items:start;
  padding: 0;
}

.footer__title {
  align-self: flex-start;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin: 2.5rem 0 1rem 0;
}

.footer__div ul {
  font-family: 'Inter', sans-serif;
  color: var(--gray);
}

.footer__div li{
  margin: 1.5rem 0;
}